<div class="rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]">
  <div class="border-b border-gray-200 px-6 py-4 dark:border-gray-800">
    <h3 class="text-lg font-medium text-gray-900 dark:text-white"><%= title %></h3>
    <% if local_assigns[:subtitle] %>
      <p class="text-sm text-gray-600 dark:text-gray-400"><%= subtitle %></p>
    <% end %>
  </div>
  <div class="p-4 sm:p-6">
    <%= yield %>
  </div>
</div>


